/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.secondnav__options {
  list-style: none;
}

body {
  /* background-color: #141727; */
  font-family: Arial, Helvetica, sans-serif;
}

.svg-icon {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

/* first nav bar styling */
.firstnav,
.secondnav,.advertisement {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  height: 35px;
  justify-content: space-between;
  padding: 0 45px;
}

.firstnav__logo,
.firstnav__options,
.secondnav__logo {
  display: flex;
  align-items: center;
}

.firstnav__logo__content {
  object-fit: contain;
  width: 32px;
}

.firstnav__options {
  font-size: 12px;
  gap: 15px;
}

.separate-item {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 14px;
}

/* second nav bar styling */
.secondnav {
  background-color: #fff;
  height: 58px;
}

.secondnav__logo__content {
  object-fit: contain;
  width: 70px;
}

.secondnav__options {
  display: flex;
  font-size: 16px;
  margin-left: 230px;
  height: 100%;
}

.options__item {
  padding: 0 13px;
  border-bottom: 2px solid #fff;
}

.options__item:hover {
  border-bottom: 2px solid #000;
}

.secondnav__links {
  display: flex;
  align-items: center;
}

.secondnav__other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22%;
}

.other__searchbar,
.other__icons {
  display: flex;
  align-items: center;
}

.other__searchbar {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.glass-icon {
  margin: 0 10px;
}

.other__icons {
  gap: 16px;
}

.search-input {
  outline: none;
  border: none;
  font-size: 14px;
  height: 40px;
  padding: 2px 5px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.advertisement{
  font-size: 3.5em;
}

.container1{
  display:flex;
  background-color:#fff;
  align-items: center;
  padding: 2em 4em;
  justify-content: space-between;
}

.container1 .title{
  font-size:1.2em;
}

.container1 .category{
  font-size:1em;
  display:flex;
  gap: 3em;
  align-items: center;
  margin-right: 37vw;
}